export(baseCorrelation)
export(grepSeq)
export(wave128Window)
exportClasses(KineticWavelets)
exportMethods(baseCorrelation)
import(Biostrings)
import(ShortRead)
import(pbh5)
import(seqinr)
import(wavethresh)
