exportMethods(
	"wave128Window",
	"plotDetailAverage",
	"plotSmoothAverage",
	"plotBaseCorrelation",
	"plotPatternCorrelation",
	"baseCorrelation"
)
exportClasses(
	"KineticWavelets"
)
import(pbh5)
import(Biostrings)
import(seqinr)
import(wavethresh)
import(ShortRead)
export(grepSeq)
export(KineticWavelets)
